<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <section class="jumbotron">
      <h1>Educate My Plate</h1>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="card in main.mainCards | orderBy:'rank'" ng-click="main.goToView(card)">
          <md-button ng-href="{{ card.url }}">
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/{{ card.logo }}" alt="{{ card.title }}">
              <h3 class="md-title">{{ card.title }}</h3>
              <p>{{ card.description }}</p>
            </md-card-content>
          </md-button>
      </md-card>
    </div>
    
  </md-content>

</div>
