<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <section class="jumbotron">
      <h1>Educate My Plate - Eat</h1>
      <p class="lead">

      </p>
      <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="eat.getProductInfo()">Look UP</md-button>

    </section>

    <md-button ng-href="">Learn</md-button>

    <div class="techs" layout-align="center">
      <div class="md-action-buttons">
        adsf
        <md-button ng-href="">Learn</md-button>
        <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
      </div>
    </div>
  </md-content>

</div>